<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도심속휴식터</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript"
                src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=6rjx5nfk5b"></script>
    <!-- <script type="text/javascript"
                src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=6rjx5nfk5b&submodules=geocoder"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <style>
      * {
        font-family: 'Nanum Pen Script', cursive;
      }
      .rounded-t-5 {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }

      @media (min-width: 992px) {
        .rounded-tr-lg-0 {
          border-top-right-radius: 0;
        }

        .rounded-bl-lg-5 {
          border-bottom-left-radius: 0.5rem;
        }
      }

       button {
          background-color: #F9B514;
          padding: 5px 10px;
          border-radius: 4px;
          cursor: pointer;
        }

        .modal {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .modal .bg {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
        }

        .modalBox {
          position: absolute;
          background-color: #fff;
          width: 400px;
          height: 200px;
          padding: 15px;
        }

        .modalBox button {
          display: block;
          width: 80px;
          margin: 0 auto;
        }

        .hidden {
          display: none;
        }

        #map {
                width: 100%;
                height: 400px;
            }


    </style>
  <script>


      // let x_cen;
      // let y_cen;
      let map;
      let marker;
      let detailInfo;
      let startXPoint;
      let startYPoint;
      let startAddress;

      let url = "http://map.naver.com/index.nhn?slng=126.8966655 (출발좌표X)&slat=37.4830969 (출발좌표Y)&stext=출발지이름&elng=127.0276368 (도착좌표X)&elat=37.4979502 (도착좌표Y)&etext=도착지이름&menu=route&pathType=1"



      $(document).ready(function () {
                  currentLocation();
                  list_shelter();
                  // mark_location(x_cen, y_cen)
                  // make_marker(x_cen, y_cen)


              })

      function list_shelter() {
                $.ajax({
                    type: "GET",
                    url: '/shelter',
                    data: {},
                    success: function (response) {
                      let rows = response["shelter_info"]
                      //console.log(rows[0]['shelter_name'])
                      console.log (rows)


                      for (let i = 0; i < rows.length; i++) {
                        let shelterName = rows[i]['shelter_name']
                        let shelterAddress = rows[i]['shelter_address']
                        let shelterMaxPeople = rows[i]['shelter_max_people']
                        let shelterType = rows[i]['shelter_type']
                        let xcord = rows[i]['xcord']
                        let ycord = rows[i]['ycord']
                        detailInfo = rows

                        console.log(shelterName)

                        let temp_html = `<div class="card"  style="width: 32rem; display: flex; justify-content: center; margin: auto; margin-top: 10px">
                                          <div class="card-body">
                                            <h5 class="card-title" onclick="detailModal(${i}, detailInfo[${i}])" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">${shelterName}</h5>
                                            <p class="card-text">주소 : ${shelterAddress}</p>
                                            <p class="card-text">시설 유형 : ${shelterType}</p>
                                            <p class="card-text">이용가능인원 : ${shelterMaxPeople}</p>
                                            <p class="card-text">좌표 : ${xcord} , ${ycord}</p>

                                          </div>
                                      </div>`




                        $('#shelterList').append(temp_html);

                      // y_cen = response['ycord']
                      // x_cen = response['xcord']
                      // console.log(y_cen, x_cen)
                      // mark_location(y_cen,x_cen)
                      // make_marker(y_cen,x_cen)
                    }
                  }
                });

              }

      function codeChange(x,y){
        //console.log(x,y)
        let x_cen = x;
        let y_cen = y;

        //let new_location = new naver.maps.LatLng(x_cen, y_cen);
        // map.setCenter(new_location);
        //console.log(x_cen,y_cen)
        mark_location(x_cen, y_cen)
        make_marker(x_cen, y_cen)
      }


      function detailModal(i, detailInfo) {

          codeChange(detailInfo['xcord'],detailInfo['ycord'])

          console.log(detailInfo['xcord']);

          $('#shelter-detail').empty();

          console.log(startXPoint, startYPoint, startAddress)

          let temp_html = `
                    <div id="modal-${i}">

                        <h2>${detailInfo['shelter_name']}</h2>

                        <h3>상세정보</h3>
                        <p>주소 : ${detailInfo['shelter_address']}</p>
                        <p>시설 유형 : ${detailInfo['shelter_type']}</p>
                        <p>이용가능인원 : ${detailInfo['shelter_max_people']}</p>
                        <p>좌표 : ${detailInfo['xcord']} , ${detailInfo['ycord']}</p>

                        <a href="http://map.naver.com/index.nhn?slng=${startXPoint}&slat=${startYPoint}&stext=${startAddress}&elng=${detailInfo['xcord']}&elat=${detailInfo['ycord']}&etext=${detailInfo['shelter_name']}&menu=route&pathType=1" target="_blank">지도로 길찾기</a>
                        <h2>지도</h2>
                        <p>Map will be in here...</p>

                    </div>

                  `
                  $('#shelter-detail').append(temp_html);
      }


      function currentLocation(){
        $.ajax({
                    type: "GET",
                    url: '/current',
                    data: {},
                    success: function (response) {

                      $('#current-address').empty();

                      let rows = response["current_location"]
                      console.log(rows)



                      let address = rows['address']
                      let xcord = rows['xcord']
                      let ycord = rows['ycord']

                      // function giveModal(a){
                      //   return parseFloat(a)
                      // }
                      // function giveModal(b){
                      //   return parseFloat(b)
                      // }

                      departX = function(x){return parseFloat(x)}
                      departY = function(y){return parseFloat(y)}
                      departAddr = function(a){return address}

                      // console.log("현재좌표  " + departX(xcord));

                      startXPoint = departX(xcord);
                      startYPoint = departY(ycord);
                      startAddress = departAddr(address);





                      console.log(address,xcord,ycord)

                      $('#current-address').append(address);

                    }
                });

      }


      function mark_location(x_cen, y_cen){
          $("#map").html("")
          console.log("좌표는 : " + x_cen +", "+y_cen);
          map = new naver.maps.Map('map', {
                      center: new naver.maps.LatLng(y_cen, x_cen),
                      zoom: 12,
                      zoomControl: true,
                      zoomControlOptions: {
                      style: naver.maps.ZoomControlStyle.SMALL,
                      position: naver.maps.Position.TOP_RIGHT
                    }
                  });


      }

      function make_marker(x_cen, y_cen){
          marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(y_cen, x_cen),
                    map: map
                });
      }


  </script>

</head>
<body>

  {% include 'header.html' %}
</div>
  <div>
    <div data-draggable="true" style="position: relative;" draggable="false" class="">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
            <section class="mb-10">
                <!-- Background image -->
                <div class="p-5 text-center bg-image" style="background-image: url('/static/img/indexBackground.jpg'); height: 500px; background-size: cover; background-position: 50% 50%; background-color: rgba(0, 0, 0, 0);"></div> <!-- Background image -->



                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">상세 정보 보기</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">

                                  <div class="mb-3" id="shelter-detail">

                                  </div>
                                  <div id="map">

                                  </div>

                              </div>
                              <div class="modal-footer" style="display: flex; justify-content: center; margin: auto;">
                                  <button  type="button" class="btn btn-primary" data-bs-dismiss="modal">길찾기</button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">쉼터 종류를 확인해주세요!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">찾으시는 쉼터의 타입을 선택해주세요!</label>
                                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                <option selected>선택</option>
                                                <option value="1">실내</option>
                                                <option value="2">야외</option>
                                              </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">네</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                      <div class="card mx-4 mx-md-5 text-center shadow-5-strong" style=" margin-top: -170px; background: hsla(0, 0%, 100%, 0.7); backdrop-filter: blur(30px); ">
                          <div class="card-body px-4 py-5 px-md-5">
                              <h1 class="display-3 fw-bold ls-tight mb-4"> <a href="/"> <img src="/static/img/logo.png" alt="" width="160" height="100" class="d-inline-block align-text-top" style="border-radius: 20px">  </a><br> <span>검색결과</span> </h1>
                              <span style="font-size: 40px">현재 주소 : <span id="current-address"> </span></span><br>
                              <button class="btn btn-danger btn-lg py-3 px-3 mb-2 mb-md-0 me-md-2"  style="">현재 주소 재탐색</button>
                              <a class="btn btn-success btn-lg py-3 px-4 mb-2 mb-md-0 me-md-2" href="#" role="button" style="">주소 변경</a>

                              <div id="shelterList">


                              </div>
                          </div>
                      </div>
                  </div>
              </section>
          </section>
          <!---->
      </div> <!-- First Component -->
  </div>
    {% include 'footer.html' %}




  </body>
</html>
